.background img {
  position: absolutely;
  z-index: 0;
}

.mybtn {
  background-color: #69fb95;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}



/* adjust hamburger container */
.hamburger {
  width: 50px;
  height: 50px;
  background: rgb(0, 0, 0);
  color: ghostwhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  filter: none;
}

/* adjust bars inside box */
.hamburger div {
  background-color: rgb(255, 255, 255);
  height: 5px;
  width: 70%;
  margin: auto;
}

/* Set up hover for each of the divs creating the white blocks */
.hamburgerActive{
  filter:none;
  transform:rotate(360deg)
}

.hamburgerActive > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburgerActive > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburgerActive > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Create animation to make hamburger menu spin */  
@keyframes top {
  from {
    transform: none;
  }
  to {
    transition: 100s ease-in;
    transform: rotate(950deg) translateX(-14px) translateY(-10px);
  }
}

@keyframes middle {
  from {
    transition: none;
  }
  to {
    transition: 5s ease-out;
    opacity: 0%;
  }
}

@keyframes bottom {
  from {
    transform: none;
  }
  to {
    transition: 40s ease-in;
    transform: rotate(852deg) translateX(-12px) translateY(11px)
  }
}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


@keyframes fadeinall {
  0% {
    opacity: 1; }
  97% {
    opacity: 0; }
  98% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  99% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    opacity: 0;
    z-index: -1; } }
  #loader {
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background-color: #fff;
    z-index: 999;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation: fadeinall 1s normal both;
    animation: fadeinall 1s normal both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }